@import '/src/main.scss';

.features {
  margin: 15rem 0;

  grid-column: centerStart / centerEnd;

  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  align-items: start;
}
